.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#lineChartPanel {
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 8px;
  min-width: 150px;
}